version: "3.8"
services:
  product_container:
    container_name: product_container
    build: ./
    command: ./wait-for-db.sh ./product_service "migrate"
    environment:
      - DSN=${DSN}
      # - POSTGRES_HOST=go_shop_postgres
      # - POSTGRES_USER=${POSTGRES_USER}
      # - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # - POSTGRES_DB=${POSTGRES_DB}
      # - POSTGRES_PORT=5432
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_PRODUCER_TOPIC=${KAFKA_PRODUCER_TOPIC}
      - PRODUCT_SERVICE_LOG_LEVEL=${PRODUCT_SERVICE_LOG_LEVEL}
      - PRODUCT_SERVICE_FILE_LOG_LEVEL=${PRODUCT_SERVICE_FILE_LOG_LEVEL}
    env_file:
      - .env
    networks:
      - shopongo_default
    ports:
      - "8082:8082"


networks:
  shopongo_default:
    external: true
